<div id="<%= dom_id dealing %>">
  <p>
    <strong>Name:</strong>
    <%= dealing.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= dealing.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= dealing.user_id %>
  </p>

</div>
