.form-container {
  display: grid;
  place-items: center;
}

form {
  width: 90%;
}

.form-container label:not(:last-child) {
  display: none;
}

.remember-me {
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form input[type=text],
form input[type=email],
form input[type=password] {
  width: 100%;
  padding: 5px;
}

.actions .sign-in {
  width: 100%;
  border-radius: 3px;
  padding: 8px;
  border: none;
  text-transform: uppercase;
  margin-block: 10px;
}

.heading-form {
  color: white;
  text-align: center;
  padding: 10px;
}

.header {
  background-color: #3778c2;
  width: 100%;
  position: relative;
}

.back-btn {
  color: white;
  position: absolute;
  top: 35%;
  left: 20px;
}

.extra-links {
  /* font-size: 0.8rem; */
  text-align: center;
  margin-top: 20px;
}

.sign-up {
  text-decoration: none;
}
